@import "../vendor/bourbon/app/assets/stylesheets/bourbon"
@import "./bootstrap/_variables"
@import "../vendor/bootstrap-sass/assets/stylesheets/_bootstrap"
@import "./bootstrap/responsive-mixins"
@import "./bootstrap/mix"
@import "bootstrap-theme"
@import "menu-extra"

html, body, .container
  min-width: 320px
body
  padding-top: 70px

.container-slider
  margin-right: auto
  margin-left: auto
  padding-left: 0
  padding-right: 0
  max-width: 1600px

/*  header
 *=================================================================
header
  hr
    margin-top: 0px

.logo
  position: relative
  z-index: 100

.header-text
  h1
    margin-bottom: 0px
  h3
    margin-top: 10px

/*  main
 *=================================================================

.content.container
    min-height: 1000px

.tab-content
  position: relative
  .tab-pane
    .slider-img, .slider-text
      background-color: #bb3b32
    .slider-img
      @include flex-grow(3)
    .slider-text
      @include display(flex)
      @include flex-grow(2)
      @include flex-direction(column)
      @include align-items(center)
      @include align-content(center)
      @include justify-content(center)
      overflow: hidden
      padding: $padding-base-vertical 50px $padding-base-vertical 20px
      .slider-title, .slider-desc
        color: $body-bg
        display: inline-block
        text-align: center
        position: relative
        top: -5px
      .slider-title
        border-bottom: 1px solid $body-bg
        padding: 0 20px 10px 20px
        font-kerning: normal
      .slider-desc
        margin-top: 5px
  .icon-left, .icon-right
    position: absolute
    top: 50%
    margin-top: -30px
    font-size: 60px
    color: $body-bg
    cursor: pointer
  .icon-left
    left: -5px
  .icon-right
    right:  -5px

.tabs-service
  list-style: none
  padding: 0


