@import "../vendor/bourbon/app/assets/stylesheets/bourbon"
@import "./bootstrap/_variables"
@import "../vendor/bootstrap-sass/assets/stylesheets/_bootstrap"
@import "./bootstrap/responsive-mixins"
@import "./bootstrap/mix"
@import "bootstrap-theme"
@import "menu-extra"

html, body, .container
  min-width: 320px
body
  padding-top: 70px

/*  header
 *=================================================================
header
  hr
    margin-top: 0px

.logo
  position: relative
  z-index: 100

.header-text
  h1
    margin-bottom: 0px
  h3
    margin-top: 10px

/*  main
 *=================================================================

.content.container
    min-height: 1000px

.tab-content
  position: relative
  height: 200px
  display: block
  .tab-pane
    display: block
    position: absolute
    top: 0px
    left: 0px

.tabs-service
  list-style: none
  padding: 0


