<h2>СОБЫТИЙНЫЙ КЕЙТЕРИНГ</h2>
<div class="row">
  <div class="col-xs-24 col-sm-12 col-md-10">
    <img class="img-responsive img-btm" src="https://lh3.googleusercontent.com/0hkOrpGDr1v25jtEF2rsn14jTfEhrjJGlkYB3BLVsw=w500">
  </div>
  <div class="col-xs-24 col-sm-12 col-md-14">
    <ul>
      <li>
        услуги и питание для глав государств, высокопоставленных лиц и посольств, на официальных приемах и деловых
        встречах, презентациях, международных выставках и форумах
      </li>
      <li>
        кейтеринг для культурных мероприятий (кинопремьеры, кинофестивали, галереи, театры, концерты, университеты и
        музеи)
      </li>
      <li>
        кейтеринг для бизнеса и обучающих мероприятий: гала-ужины, банкеты, фуршеты, шведские столы, деловые коктейли и
        кофе-брейки на мероприятиях любого формата и масштаба (тренинги, семинары, тимбилдинги, выставки, конференции и
        форумы)
      </li>
      <li>
        корпоративные мероприятия (корпоративные праздники, дни рождения руководства, юбилеи компании, BBQ-кейтеринг,
        корпоративы, коктейль-пати и candy-бары)<br>
      </li>
    </ul>
  </div>
</div><h2>СТРИТ-ФУД КЕЙТЕРИНГ</h2>
<div class="row">
  <div class="col-xs-24 col-sm-12 col-md-10">
    <img class="img-responsive img-btm" src="https://lh3.googleusercontent.com/4drZSSKsrQxc_JGI-bs3oE9o_KZtGu3MFCaUPmBrwQ=w500">
  </div>
  <div class="col-xs-24 col-sm-12 col-md-14">
    <ul>
      <li>
        питание уличного типа на крупномасштабных мероприятиях: городских праздниках, фестивалях, парадах и спортивных
        мероприятиях
      </li>
      <li>
        автокафе и мобильные закусочные
      </li>
      <li>
        выездная торговля<br>
      </li>
    </ul>
  </div>
</div><h2>ПИТАНИЕ НА ТРАНСПОРТЕ</h2>
<div class="row">
  <div class="col-xs-24 col-sm-12 col-md-10">
    <img class="img-responsive img-btm" src="https://lh3.googleusercontent.com/4nFrSnhpbJnO7dVuRaf80uJqFzYiKPkLiGsvf_4H5Q=w500">
  </div>
  <div class="col-xs-24 col-sm-12 col-md-14">
    <ul>
      <li>
        частное и корпоративное ресторанное обслуживание на борту морских или речных судов
      </li>
      <li>
        авто-мото-кейтеринг (в том числе на презентациях автосалонов, автошоу)
      </li>
      <li>
        авиационный кейтеринг или бортовое питание<br>
      </li>
    </ul>
  </div>
</div><h2>СОЦИАЛЬНОЕ ПИТАНИЕ</h2>
<div class="row">
  <div class="col-xs-24 col-sm-12 col-md-10">
    <img class="img-responsive img-btm" src="https://lh3.googleusercontent.com/GaRVu0y9XMGBC4qQwjAsWaPhmEy3iE9raOYsQM8rzw=w500">
  </div>
  <div class="col-xs-24 col-sm-12 col-md-14">
    <ul>
      <li>
        организация специального питания в образовательных и медицинских учреждениях
      </li>
      <li>
        в школах, ВУЗах и детских лагерях
      </li>
      <li>
        больницах, санаториях и родильных домах<br>
      </li>
    </ul>
  </div>
</div><h2>КОРПОРАТИВНОЕ ПИТАНИЕ</h2>
<div class="row">
  <div class="col-xs-24 col-sm-12 col-md-10">
    <img class="img-responsive img-btm" src="https://lh3.googleusercontent.com/YVQK6yt6xWvld9kT98KKldOwQy-LWyRlmX3dQzQiCQ=w500">
  </div>
  <div class="col-xs-24 col-sm-12 col-md-14">
    <ul>
      <li>
        постоянная доставка питания в офис (бизнес-ланчи и VIP-питание)
      </li>
      <li>
        доставка в ланчбоксах бутербродов, канапе, салатов, закусок, сэндвичей, фруктов и десертов, напитков
      </li>
      <li>
        доставка комплексных обедов на производство, стройплощадки,
      </li>
      <li>
        временные полевые станы для рабочих бригад и удаленных подразделений (в том числе в сложных условиях и
        труднодоступных местах)
      </li>
      <li>
        организация столовых, буфетов и линий раздачи горячего питания на предприятиях и в бизнес-центрах<br>
      </li>
    </ul>
  </div>
</div><h2>ЧАСТНЫЕ МЕРОПРИЯТИЯ</h2>
<div class="row">
  <div class="col-xs-24 col-sm-12 col-md-10">
    <img class="img-responsive img-btm" src="https://lh3.googleusercontent.com/HQ9UMvy7ndai-4a2tSgWuO1p6HZZmXljdD5_OEf1gg=w500">
  </div>
  <div class="col-xs-24 col-sm-12 col-md-14">
    <ul>
      <li>
        свадебные торжества
      </li>
      <li>
        юбилеи и дни рождения
      </li>
      <li>
        пикники на природе
      </li>
      <li>
        частные вечеринки
      </li>
      <li>
        выпускные балы
      </li>
      <li>
        детские праздники
      </li>
    </ul>
  </div>
</div><h2> ВЫЕЗДНЫЕ МЕРОПРИЯТИЯ «ПОД КЛЮЧ»</h2>
<div class="row">
  <div class="col-xs-24 col-sm-12 col-md-10">
    <img class="img-responsive img-btm" src="https://lh3.googleusercontent.com/TQ_184tPtULHo1x_bmZVTj_GCMSkfeE5zczrLJau7w=w500">
  </div>
  <div class="col-xs-24 col-sm-12 col-md-14"><p>
    «Гильдия Кейтеринг» имеет возможность оказывать своим корпоративным и индивидуальным заказчикам в разных регионах
    страны <em>полный спектр услуг кейтеринга</em>, гарантирует проведение выездных мероприятий «под ключ» - независимо
    от бюджета - на самом высоком уровне. Мы обожаем сложные проекты и умеем в любом случае дарить нашим клиентам
    радость и ощущение праздника.
  </p><p>
    Именно поэтому нас выбирают государственные компании и крупные коммерческие организации, известные персоны и обычные
    люди, которым хочется на достойном уровне отметить незабываемое событие.
  </p></div>
</div>
